<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <form action="/profil/update" method="POST">
                <div class="mt-3">
                    <input type="text" name="domicile" placeholder="ex: Toerana" class="form-control" />
                    <input type="hidden" name="route" value="/phone">
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary form-control">Save</button>
                </div>
                <div class="mt-3">
                    <a href="/phone" class="btn btn-primary form-control">Ignore</a>
                </div>
            </form>

        </div>
    </div>
</div>