<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <%- include('navigation.ejs') -%>
        </div>
        <div class="col-lg-9">
            <h1>Index Admin | Dashboars page</h1>
        </div>
    </div>
</div>